<html>
	<head></head>
	<body>
		<p>Guess a super secret number between 1 and 100</p>
		<form>
  			<input type='text' name='guess' />
  			<input type='submit' value='Guess!' />
		</form>
		<%= message %>	
	</body>
</html>